.media{
    display: flex;

    width: 60%;
    height: 90px;
    text-align: center;
    align-items: center;
    background-color: rgb(210, 202, 202);
    
}

figure>img{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
}
figure{
  
    width: 60%;
    height:70px;
}

.media>div:nth-child(2),.media>div:nth-child(1){
    /* border: 1px solid red; */
    flex-basis: 30%;
}

.field{
   display: flex;  
}



